<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
        <h1>Wikis</h1>
        <% if(currentUser) { %>
          <a href="/wikis/new" class="btn btn-success">New Wiki</a>
          <% if(currentUser.role == 1 || currentUser.role == 2) { %>
          <a href="/wikis/new_private" class="btn btn-success">New Private Wiki</a>
          <% } %>
        
  
      <ul class="list-group">
          <% wikis.forEach((wiki) => { %>
            <% if(!wiki.private || wiki.private && ( wiki.userId==currentUser.id ) || wiki.private && wiki.collaborators != null && (wiki.collaborators.findIndex(collab => collab.userId == currentUser.id) != -1)) { %>
            <li class="list-group-item">
              <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
              <% if(wiki.private) { %> 
                <span>Private</span> 
                <% } %>
            </li>
            <% } %>
          <% }) %>
        </ul>
        <% } else { %>
        Sign in to see wikis
          <% } %>

    </main>