<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
      <% include ../static/partials/navbar.ejs %>

      <!-- Page Content -->
      <main class="container">
        <% include ../static/partials/messages.ejs %>
        
        You successfully paid <strong>$15.00</strong>!
        

      </main>
      <!-- /.container -->

      <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>


